/**
 * CSS media queries used by view.media-query-sync.js
 *
 * Use your own media queries instead to actually have the JS match
 * the breakpoints of your styles.
 */

/* @screen-xxs */
@media all {
    #device-state-detection {
        z-index: 1;
    }
}

/* @screen-xs: */
@media (min-width: 500px), (min-width: 320px) and (orientation : landscape) {
    #device-state-detection {
        z-index: 2;
    }
}

/* @screen-sm: */
@media (min-width: 720px) {
    #device-state-detection {
        z-index: 3;
    }
}

/* @screen-md: */
/* The height is necessary to match the MS Surface Tablets which have a huge width but a small height. */
@media (min-width: 1024px),
(min-width: 1300px) and (orientation : landscape) and (max-height: 768px) {
    #device-state-detection {
        z-index: 4;
    }
}

/* @screen-lg: */
/* The height is necessary to match the MS Surface Tablets which have a huge width but a small height. */
@media (min-width: 1300px) and (min-height: 800px) {
    #device-state-detection {
        z-index: 5;
    }
}

/* @screen-xl: */
@media (min-width: 1600px) {
    #device-state-detection {
        z-index: 6;
    }
}
