/**
 * TabAccordion basic styles
 */

/************************
 TabAccordion general styles
 ************************/
:root {
    --body-background-color: #f4f4f4;
    --header-background-color: #e0e0e0;
    --open-header-background-color: #f4f4f4;
    --border-color: #bbbbbb;
}

.tab-accordion-group {
    margin-bottom: 2rem;
    position: relative;
}

.tab-accordion-group > section {
    margin-bottom: 1rem;
}

.tab-accordion-group > section > header {
    padding: 1em 1.2em;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 0;
    border: 1px solid var(--border-color);
    background: var(--header-background-color);
}

.tab-accordion-group > section > header:hover {
    text-decoration: underline;
}

.tab-accordion-group .open > header {
    text-decoration: underline;
    background: var(--open-header-background-color);
}

.tab-accordion-group > section > header > * {
    margin: 0;
}

.tabaccordion-body-wrapper {
    overflow: hidden;

    padding-left: 1.2em;
    padding-right: 1.2em;

    border: 1px solid var(--border-color);
    background: var(--body-background-color);
}

/************************
 Tabbed content
 ************************/
.tabbed-content {
    position: relative;
}

.tabbed-content > section {
    margin-bottom: 0;
}

.tabbed-content > section > header {
    float: left;
    border-color: var(--header-background-color) var(--header-background-color) var(--border-color) var(--header-background-color);
}

.tab-accordion-group.tabbed-content .open > header {
    border-color: var(--border-color) var(--border-color) var(--open-header-background-color) var(--border-color);
}

.tabbed-content .tabaccordion-body-wrapper {
    z-index: -1;
    position: absolute;
    top: 3.8em;
    left: 0;
    right: 0;

    opacity: 1;
    visibility: visible;
    transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

.tab-accordion-group.tabbed-content :not(.open) .tabaccordion-body-wrapper {
    opacity: 0;
    visibility: hidden;
}

/************************
 Accordion
 ************************/
.accordion {
    min-height: 0 !important;
}

.accordion > section > header {
    border-width: 1px 1px 0 1px;
    transition: background 0.25s ease-in-out;
}

/* Expand/collapse animation */
.accordion .tabaccordion-body-wrapper {
    border-width: 0 1px 1px 1px;

    transition: max-height 0.25s ease-in-out;
}

.accordion :not(.open) .tabaccordion-body-wrapper {
    max-height: 0 !important;
}
